<h1>Admin panel</h1>


<h2>Users</h2>

<ul class="users">
    <!-- <li class="users__item">
        <div class="users__name">
            test1
        </div>
        <div class="users__more">
            <button class="users__button-more">More details</button>
        </div>
        <div class="users__delete">
            <button class="users__button-delete">Delete user</button>
        </div>
    </li>

    <li class="users__item">
        <div class="users__name">
            test2
        </div>
        <div class="users__more">
            <button class="users__button-more">More details</button>
        </div>
        <div class="users__delete">
            <button class="users__button-delete">Delete user</button>
        </div>
    </li>

    <li class="users__item">
        <div class="users__name">
            test3
        </div>
        <div class="users__more">
            <button class="users__button-more">More details</button>
        </div>
        <div class="users__delete">
            <button class="users__button-delete">Delete user</button>
        </div>
    </li> -->
</ul>

<!-- <form class="form-add-user">
    <div class="form-add-user__user-login">
        <label>Login:</label>
        <input type="text" name="login" placeholder="Enter username">
    </div>
    <div class="form-add-user__user-login">
        <label>Enter user password:</label>
        <input type="text" name="password" placeholder="Enter user password">
    </div>
    <button class="form-add-user__add-button">Add user</button>
</form> -->

<button class="add-user">
    <div class="plus-user">
        <span class="plus-icon">+</span><span class="text-plus-button">Add User</span>
    </div>
</button>