@media screen and (max-width: 991px) {
    #app-login-form {
        margin: 10px 0 0 0;
    }

    .user-login-wrapper {
        margin: 10px 0 0 0;
    }

    .task__item {
        margin: 0 10px 20px;
    }
}

@media screen and (max-width: 550px) {

    #app-login-form {
        flex-direction: column;
    }

    .form-control {
        margin: 0 0 10px;
    }
}